{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Your order</div>
        <div class="panel-body">
            <ul class="list-group">
                {% for item in cart %}
                    <li class="list-group-item">
                        ${{ item.total_price }}
                        <span class="badge">{{ item.product.name }} x{{ item.quantity }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price }}</p>

        </div>
    </div>

    <h1>Checkout</h1>
    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-product">
                <span class="glyphicon glyphicon-shopping-cart"></span> Place order
            </button>
        {% endbuttons %}
    </form>

{% endblock %}